/.idea
/.vs
/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.DotSettings
/NaughtyAttributes.Core.csproj
/NaughtyAttributes.Editor.csproj
/NaughtyAttributes.Test.csproj
/Logs
/obj
/Platformer Controller Tutorial.sln
/Platformer Controller Tutorial.sln.DotSettings.user
/Temp
/Library